/* HEADER NAVBAR */

header{background-color: $color-principal;
    border-bottom: 2px dashed $color-terciario;
    padding: 0px 25px 0px 25px;

    .navColor{background-color: $color-principal;}

    .linkNav{text-align: right;
    text-decoration: none;
    color: $color-secundario;
    font-size: 15px;
    font-weight: bold;

        .colorMenu{color: $color-secundario !important;
        &:hover{border-bottom: 2px solid $color-secundario;}
        }

        .colorDesple{margin-left: auto;
            width: 20%;
            background-color: $color-principal;
            opacity: 90%;
        
            .fuenteDesple{
                text-align: center;
                background-color: $color-principal !important;
                color: $color-secundario !important;
                font-size: 15px;
                font-weight: bold;
                
                &:hover{border-bottom: 1px solid $color-secundario;}
            }
        }
}

    .estiloBoton{border:2px solid $color-secundario;    
    font-size: 15px;}
}

@media screen and (min-width:1024px){
    header .linkNav{font-size: 22px;
            gap: 35px;}}