/* HEADER NAVBAR */

header {
    background-color: $color-principal;
    border-bottom: 2px dashed $color-terciario;
    padding: 0px 30px 0px 30px;

    .navColor {
        background-color: $color-principal;
    }

    .imgNav {
        width: 60px;
        height: 50px
    }

    .linkNav {
        text-align: right;
        text-decoration: none;
        color: $color-secundario;
        font-size: 15px;
        font-weight: bold;

        .colorMenu {
            color: $color-secundario !important;
        }

        .colorDesple {
            margin-left: auto;
            width: 20%;
            background-color: $color-principal;
            opacity: 90%;

            .fuenteDesple {
                text-align: center;
                background-color: $color-principal !important;
                color: $color-secundario !important;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }

    .estiloBoton {
        border: 2px solid $color-secundario;
        font-size: 15px;
    }
}

@media screen and (min-width:1024px) {
    header {
        padding: 0px 40px 0px 40px;

        .linkNav {
            font-size: 22px;
            gap: 35px;

            .colorMenu {
                &:hover {
                    border-bottom: 2px solid $color-secundario;
                }
            }

            .fuenteDesple {
                font-size: 20px !important;
                transition: box-shadow 0.3s, transform 0.3s;

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    transform: scale(1.05);
                }
            }
        }
    }
}